body{
    background-color: #ffff8d;
    font-family: moon;
    /*height: 100%;*/
}

@font-face {
    font-family: moon;
    src: url('fonts/Moon Light.ttf');
}

@font-face{
    font-family: moon bold;
    src: url('fonts/Moon Bold.ttf');
}

.wrapper {
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}
.l-help {
    margin-bottom: -60px;
}
.cabecalho-card{

}
.m-t-20{
    margin-top: 20px;
}
.card .card-description {
  font-size: 18px;
  font-weight: 300;
    text-align: center;
}

footer{
/*    padding-bottom: 100px;*/
    bottom:0;
    left: 0;
    width: 100%;
}